.carousel {
    max-width: 1100px; /* Set the maximum width */
    max-height: 900px; /* Set the maximum height */
   margin: auto;
   margin-top: 2%;
  }
  .about{
    margin: 3% 10% 2% 10%;
    font-family: 'Lato', sans-serif;
  }
  .bodyOfAbout{
    margin-top: 3%;
    font-family: 'Lato', sans-serif;
  }
  h1{
    font-family: 'Kavoon', cursive;    
  }
