 <!-- End of .container -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-3">
          <!-- Section: Social -->
          <h3>Contact Us</h3>
        <section class="text-center mb-5">
            <a href="" class="text-white me-4">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-github"></i>
            </a>
          </section>
          <!-- Section: Social -->
        </div>
      </div>
      <div class="row" style="margin-top: -30px;">
        <div class="col-md-6 offset-3">
            <ul>
              <li>Email: curewell@example.com</li>
              <li>Phone: (123) 456-7890</li>
              <li>Address: 123 Main Street, City</li>
              <li>© 2023 Copyright:
                  <a class="text-white" href="https://mdbootstrap.com/"
                     >Curewell</a
                    ></li>
            </ul>
          </div>
      </div>
    </div>
  </footer>
  